* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Exclude vendor folder (contains mostly PHP dependencies)
vendor/* linguist-vendored

# Exclude specific files (e.g., CSS/JS if you want another language to dominate)
public/css/* linguist-vendored
public/js/* linguist-vendored

# Force a file type (e.g., treat .blade.php as HTML)
*.blade.php linguist-language=HTML

node_modules/* linguist-vendored
vendor/* linguist-vendored